html{
	background-color:#2F2F2F;
}

body{
	height: auto;
    padding-bottom: 20px;
	background-color:rgb(245, 245, 245);
	padding-top: 1px;
}


#mainWrapper {
	height: 100%;
}

.floatRight{
    float: right;
    margin-right: 18px;
    margin-top: 12px;
}

.has-error{
    margin-top: 2px;
	color:red;
}

.generic-container {
    position:relative;
    z-index: 1;
    min-width: 1250px;
    width:80%;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
    margin: auto;
}

.custom-width {
    width: 120px !important;
}

body, #mainWrapper, .form-control{
	font-size:12px!important;
}

#mainWrapper {
	height: 100vh;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.login-container {
    width: 40%;
    max-width: 500px;
    margin: 100px auto auto;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.a-registration {
    text-align: center;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

.authbar{
    min-width: 950px;
    height: 35px;
    width: 80%;
    margin: 10px auto 25px;
    position: relative;
    z-index: 1000;
}

.loggedinworker {
    font-size: 13px;
    margin-top: 11px;
    color: midnightblue;
}

#itemsOnPage {
    width: 100px;
    float: right;
}


#l_subdivision {
    width: 190px;
    float: right;
    margin-right: 10px;
}

#l_states {
    width: 190px;
    float: right;
    margin-right: 10px;
}

#l_lastName {
     width: 250px;
     float: right;
     margin-right: 10px;
 }

#l_contractNumber {
    width: 250px;
    float: right;
    margin-right: 10px;
}

#findLastName{
    margin: 10px 0px 0px 0px;
    max-width: 100%;
}